<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		  <add key="activeConnectionString" value="DevDB"/>
	  </appSettings>
    <connectionStrings>
      <add name="DevDB" 
			    connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=CurrenciesDB;Integrated Security=True"
			    providerName="System.Data.SqlClient"
			 />
      <add name="ProdDB"
          connectionString="Data Source = currenciesdb2019.database.windows.net; User ID = w0286670; Password = MyCurrenciesApplication.; Connect Timeout = 60; Encrypt = True; TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False"
          providerName="System.Data.SqlClient"
      />
      
    </connectionStrings>
      
</configuration>